body {
    padding:: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    back
}

hr {
    width:50px;
    color: #58c4b8;
    border: 1px solid #58c4b8;
}
 /*HEADER*/


#logo-wcs {
    display: block;
    margin: 0 auto;
    width: 100px;
}

/*FORMULAIRE*/

#login h2{
    font-weight: 300;
    color: rgba(251,168,88, 1);
    text-align: center;
}

/*GALLERY*/

#gallery h2 {
    font-weight: 300;
    color: rgba(251,168,88, 1);
    text-align: center;
}

#gallery h2 span {
    font-weight:400;
}


